node_modules/
.env
*.log
/dotnet/OneTube/bin
/dotnet/OneTube/obj
/dotnet/OneTube/.idea
/artifacts
/.artifacts
/.1tube-cache
/dist
/dotnet/OneTube.Tests/bin
/dotnet/OneTube.Tests/obj
/.1tube
/dotnet/artifacts
/.perf
